.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #202020;
}

.buttons {
  display: inline-flex;
}

button {
  width: 200px;
  height: 50px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

#today {
  padding: 32px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

h2 {
  text-transform: capitalize;
  margin: unset;
}

.current-weather {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: inline-flex;
  gap: 8px;
}

.data-box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border-radius: 12px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.value {
  display: inline-flex;
  justify-content: center;
}

.value-skeleton {
  width: 80%;
}